<main class="container container-1-1">
    <div>
        <div class="card card-1">
            <h2 class="title">S'incrire pour le prochain décolage !</h2>
            <p>Inscrivez-vous pour participer aux prochaines trouvailles !</p>
            <form data-dashlane-rid="e6c51a8332153f45" data-form-type="other">
                <div class="form-group-1-1">
                    <div class="form-group"><label for="first_name">Prénom</label><input type="text"
                            class="form-control" id="first_name" placeholder="Entrez votre prénom"
                            data-dashlane-rid="d872403ccb688d5d" data-kwimpalaid="1658927503404-0"
                            data-form-type="name,first">
                        <!---->
                    </div>
                    <div class="form-group"><label for="last_name">Nom</label><input type="text" class="form-control"
                            id="last_name" placeholder="Entrez votre nom" data-dashlane-rid="5a50a39b4c9ca0e4"
                            data-kwimpalaid="1658927503404-1" data-form-type="name,last">
                        <!---->
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group"><label for="first_name">Poids</label><input type="number"
                            class="form-control" id="first_name" placeholder="Entrez votre poids"
                            data-dashlane-rid="50d2e3713fac9a1a" data-form-type="other">
                        <!---->
                    </div>
                    <div></div>
                </div>
                <div class="form-group">
                    <h2 class="subtitle mt-5 mb-3">Choississez votre combinaison spatiale : </h2>
                    <span class="badge badge-primary mr-2"><input type="radio" name="checkbox" id="1" value="1"
                            data-dashlane-rid="b4fe5bcdc4b67db0" data-form-type="other"><label for="1"><img
                                src="../../assets/images/combieRose.jpeg"
                                alt="Combinaison spatiale n°1"></label></span><span class="badge badge-primary"><input
                            type="radio" name="checkbox" id="2" value="2" data-dashlane-rid="98f43993148e39da"
                            data-form-type="other"><label for="2"><img src="../../assets/images/combiGold.jpeg"
                                alt="Combinaison spatiale n°2"></label></span>
                </div><button class="btn" data-dashlane-rid="4a390af12cfdefcd" data-dashlane-label="true"
                    data-form-type="action">S'inscrire</button>
            </form>
        </div>
    </div>
    <div>
        <div class="card card-2">
            <h2 class="title text-primary">Liste des participants</h2>
            <table class="table w-100">
                <thead class="thead">
                    <tr>
                        <th class="th">Nom Prénom</th>
                        <th class="th">Poids</th>
                        <th class="th text-right">Combinaison spatiale</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr class="tr">
                        <td class="td">Doe John</td>
                        <td class="td">67</td>
                        <td class="td text-right"><img src="../../assets/images/combieRose.jpeg"
                                alt="Combinaison spatiale n°1">
                            <!---->
                        </td>
                    </tr>
                    <tr class="tr">
                        <td class="td">Jen Kyle</td>
                        <td class="td">80</td>
                        <td class="td text-right">
                            <!----><img src="../../assets/images/combiGold.jpeg" alt="Combinaison spatiale n°2">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>